/*Login Layout*/
#login-thumb{
    height: 250px;
}
#login-screen{
    background-color: #fff9ed;
}
.auth-box{
    background-color: #ffe5aa;
    border-radius: 10px;
    padding: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px #e1e5d4, 0 0 20px black, 0 0 10px #E50055;
}
.custom-btn{
    background-color: #e50055;
}
/*
.custom-btn:hover{
    background-color: ;
}*/
